{#
| Variable         | Type       | Description                                                         |
|------------------|------------|---------------------------------------------------------------------|
| page             | object     |                                                                     |
| page.title       | string     | *could be html                                                      |
| page.slug        | string     | ex: "cat.show"                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
    {% component home %}
{% endblock %}  
<h1>naif</h1>
{% block scripts %}

    <script defer src="{{ 'home.js' | asset }}"></script>
{% endblock %}
